* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#container header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.bloco1 {
  display: flex;
  align-items: center;
}

.logo {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: 1.5rem;
}

.logo strong {
  margin-left: 0.5rem;
}

.bloco1 p {
  margin-right: 1rem;
}

.links img {
  height: 0.7rem;
  width: 0.7rem;
}

.links a {
  color: #000;
  text-decoration: none;
  padding: 0 0.7rem;
}

.bloco2 {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.parteRigth {
  display: flex;
  align-items: center;
  padding: 4px 1rem;
  background: rgb(225, 255, 230);
  border-radius: 1rem;
}

.parteRigth p {
  color: rgba(19, 121, 36, 0.671);
  margin-left: 3px;
}

.parteRigth img {
  border-radius: 30rem;
  margin-right: 6px;
}

img.avatar {
  border-radius: 30rem;
  height: 2rem;
  width: 2rem;
  margin-left: 0.7rem;
}

img.arrow {
  height: 1rem;
  width: 1rem;
  margin-left: 0.4rem;
}

/* -------------- SECTION ----------- */
#containerMain {
  display: flex;
  align-items: stretch;
  height: 100%;
  padding: 6rem 0;
}

.blocoRigth {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocoRigth img {
  height: 2rem;
  width: 2rem;
}

img.controle {
  margin-right: 0.5rem;
}

.containerMain h1 {
  font-size: 4rem;
}

.text p {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.text span {
  background: rgb(238, 255, 239);
  color: rgba(11, 85, 23, 0.671);
  padding: 6px 6px;
  border-radius: 1rem;
  font-size: 0.7rem;
  margin-left: 1rem;
  border: solid 1px #c9ffcc;
}

.avatares {
  margin: 0 0 1rem 0;
}

.bloco {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bloco2 {
  border-left: solid 1px rgba(156, 156, 156, 0.863);
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.blocoLeft {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.primeiroBloco {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.blocoLeft img {
  height: 30rem;
  width: 30rem;
}

.bolaAzul {
  margin-left: 1rem;
}

.play {
  margin-right: 0.5rem;
}

/* ****** FOOOOTEER ********/

.containerFooter {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.blocoFooter-1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocoFooter-1 > p {
  background: #dcbf893d;
  padding: 2rem 4rem 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.blocoFooter-1 > p > strong {
  margin-left: 4px;
}

.bolinha {
  height: 2rem !important;
  width: 2rem !important;
  margin-right: 0.5rem;
}

.blocoFooter-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  display: flex;
  text-align: center;
  margin-right: 4rem;
}

.box1 strong {
  font-size: 2.5rem;
}

.box2 {
  display: flex;
  text-align: center;
  margin-left: 1rem;
}

.box2 strong {
  font-size: 2.5rem;
}

img.chat {
  height: 2rem;
  width: 2rem;
}

.microBox {
  font-size: 0.9rem;
}

footer {
  position: relative;
  top: 0.5rem;
}
